.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 100px auto;
    width: 50%;
    padding: 20px;
    border: 1px solid #a37b3d;
    border-radius: 20px;
    background-color: white;
}

.login-container h2{
    margin: 0;
    color: #a37b3d;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-container input[type="submit"] {
    width: 73%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #a37b3d;
    color: white;
    cursor: pointer;
    border: 1px solid #a37b3d;
}
.login-container input[type="submit"]:hover {
    background-color: #F0F0F0;
    color: #a37b3d;
}

@media screen and (max-width: 768px) {
    .login-container {
        width: 80%;
    }
    .login-container input[type="text"],
    .login-container input[type="password"],
    .login-container input[type="submit"] {
        width: 100%;
    }
}