.registration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 100px auto;
    width: 50%;
    padding: 20px;
    border: 1px solid #a37b3d;
    border-radius: 20px;
    background-color: white;
}

.registration-container h2 {
    margin: 0;
    color: #a37b3d;
}

.registration-container label {
    width: 100%;
    text-align: left;
    font-size: 16px;
    color: #333;
}

.registration-container input[type="text"],
.registration-container input[type="password"],
.registration-container input[type="email"],
.registration-container select {
    width: 97%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.registration-container .role {
    width: 100%;
}

.registration-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #a37b3d;
    color: white;
    cursor: pointer;
    border: 1px solid #a37b3d;
}

.registration-container input[type="submit"]:hover {
    background-color: #F0F0F0;
    color: #a37b3d;
}

@media screen and (max-width: 768px) {
    .registration-container {
        width: 80%;
    }
}

@media screen and (max-width: 435px) {

    .registration-container label {
        font-size: 0.9rem;
    }

    .registration-container input[type="text"],
    .registration-container input[type="password"],
    .registration-container input[type="email"],
    .registration-container select {
        font-size: 0.8rem;
    }
}
