body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.main-content{
    flex: 1;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #07233b;
    color: white;
    padding: 30px 40px;
}

    .navbar .nav-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .navbar h1 {
        margin: 0;
    }

    .navbar a {
        color: white;
        text-decoration: none;
        font-size: 0.9rem;
    }

.buttons-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.loginBtn {
    background-color: #F0F0F0;
    color: #a37b3d;
    border: 1px solid #a37b3d;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.registerBtn {
    background-color: #a37b3d;
    color: #F0F0F0;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

    .registerBtn:hover {
        background-color: #F0F0F0;
        color: #a37b3d;
    }

.loginBtn:hover {
    background-color: #a37b3d;
    color: #F0F0F0;
}

/* Style for the menu items */
.aspMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 500px;
}

.navbar .level1 {
    display: flex;
    gap: 20px;
}

.aspMenu a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s, border-bottom 0.3s;
    border-bottom: 2px solid transparent;
}

    .aspMenu a:hover {
        border-bottom: 2px solid #a37b3d;
        color: #a37b3d;
    }

/* Style for the dropdown menu */
.aspMenu li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #07233b;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.aspMenu li ul li {
    width: 200px;
}

.aspMenu li ul a {
    padding: 10px;
    white-space: nowrap;
}

        .aspMenu li ul a:hover {
            color: #a37b3d;
            border-bottom: 2px solid #a37b3d;
        }


.job-types-outer-container{
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.job-types-inner-container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 800px) {
    .navbar {
        padding: 20px 10px;
    }

        .navbar h1 {
            font-size: 1.2rem;
        }

        .navbar a {
            font-size: 0.7rem;
        }
        .nav-left{
            gap: 0;
        }

    .buttons-container {
        gap: 10px;
    }

    .loginBtn, .registerBtn {
        padding: 5px 5px;
        font-size: 0.6rem;
        width: 50px;
    }

    .navbar .level1{
        gap: 5px;
    }

    .navbar .level2 li{
        width: 120px;
    }
        
}
 @media screen and (max-width: 400px){
    .navbar {
        justify-content: flex-start;
    }
     .buttons-container{
         flex-direction: column;
     }
 }

.page-title h1 {
    font-size: 2.5rem;
    color: #a37b3d;
    margin: 0;
    font-weight: bolder;
}
.page-title p {
    font-size: 1.2rem;
}

.page-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-block: 5%;
}

.search-bar-outer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar-inner-container input {
    font-size: 1.1rem;
}

.search-bar-inner-container {
    width: 55%;
    border-radius: 10%/100%;
    margin-inline: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    padding-inline: 5%;
    padding-block: 2%;
    box-shadow: 2px 2px 5px gray;
}

    .search-bar-inner-container * {
        color: black;
    }

input:focus {
    outline: none;
}

.job-name-search {
    height: 2rem;
    border: 0px;
    background-color: inherit;
    flex: 2;
}

.pipe {
    color: gray;
    margin-inline: 0.1rem;
    background-color: inherit;
    border: 0px;
}

.experience-search {
    height: 2rem;
    overflow: clip;
    border: 0px;
    scrollbar-width: none;
    flex: 1;
    background-color: inherit;

}
    .experience-search option {
        width: 10px
    }


.job-location-search {
    height: 2rem;
    border: 0px;
    background-color: inherit;
    flex: 1;
}

.job-search-btn {
    background-color: #a37b3d;
    color: white;
    border-radius: 20px;
    height: 2rem;
    border: none;
    padding-inline: 3%;
    border: 1px solid #a37b3d;
}

    .job-search-btn:hover {
        background-color: #0086C3;
    }

.job-types-outer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 1rem;
    margin-block: 4rem;
}

.job-types-inner-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.job-type {
    background-color: #FAF9F6;
    padding-inline: 1%;
    padding-block: 1%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    cursor: pointer;
}

    .job-type:hover {
        box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
    }

.job-search-btn:hover {
    background-color: white;
    color: #a37b3d;
}

@media screen and (max-width: 1000px) {
    .page-title{
        align-items: flex-start;
/*        padding-inline: 5%;*/
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .page-title h1 {
        font-size: 1.3rem; /* Reduce the font size of the page title */
    }
    .page-title p{
        font-size: 0.9rem;
    }

    .search-bar-inner-container {
        width: 90%; /* Adjust the width of the search bar container */
        /*padding-inline: 2%;*/ /* Adjust padding */
    }

    .job-name-search, .experience-search, .job-location-search {
        font-size: 0.9rem; /* Adjust font size for inputs */
    }

    .pipe {
        display: none; /* Hide the pipe element on small screens */
    }

    .search-bar-inner-container {
        flex-direction: column; /* Stack the search bar elements vertically */
        gap: 10px; /* Add some space between elements */
        border-radius: 5px; 
    }

    .job-name-search, .experience-search, .job-location-search, .job-search-btn {
        width: 100%; /* Make inputs and button full width */
    }

    .job-search-btn {
        padding-inline: 5%; /* Adjust padding for the search button */
    }
    .job-types-inner-container .job-type {
        font-size: 0.8rem;
    }
    .job-types-outer-container{
        margin-top: 2rem;
    }
    .job-types-inner-container {
        justify-content: center;
        gap: 0.5rem;
        flex-wrap: wrap;
        max-width: 100%;
    }
}

.site-footer {
    background-color: #07233b;
    padding-block: 5%;
    text-align: center;
    border-top: 1px solid #e7e7e7;
    color: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

    .site-footer a {
        color: #F0F0F0;
        margin: 0 10px;
        text-decoration: none;
    }

        .site-footer a:hover {
            text-decoration: underline;
            color: #a37b3d;
        }

    .site-footer hr {
        margin: 20px 0;
        border: 0;
        border-top: 1px solid #e7e7e7;
    }

    .site-footer p {
        margin: 10px 0 0;
        color: #F0F0F0;
    }

    @media screen and (max-width: 800px) {
        .site-footer {
            padding: 10px 0;
            
        }

        .site-footer p {
            font-size: 0.6rem;
        }
        .site-footer a {
            font-size: 0.6rem;
        }
    }
