body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1E3A8A;
    color: white;
    padding: 30px 300px;
}

    .navbar .nav-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .navbar h1 {
        margin: 0;
    }

.navbar a {
    color: white;
    text-decoration: none;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.loginBtn {
    background-color: #00AEEF;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.registerBtn {
    background-color: #FFFFFF;
    color: #00AEEF;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.registerBtn:hover {
    background-color: #00AEEF;
    color: #FFFFFF;
}

.loginBtn:hover {
    background-color: #FFFFFF;
    color: #00AEEF;
}

/* Style for the menu items */
.aspMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 500px;
}

    .aspMenu li {
        position: relative;
        margin-left: 20px;
    }


    .aspMenu a {
        display: block;
        padding: 10px 20px;
        color: white;
        text-decoration: none;
        transition: background-color 0.3s, border-bottom 0.3s;
        border-bottom: 2px solid transparent;
    }

        .aspMenu a:hover {
            border-bottom: 2px solid white;
        }

    /* Style for the dropdown menu */
    .aspMenu li ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #1E3A8A;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    .aspMenu li:hover ul {
        display: block;
    }

    .aspMenu li ul li {
        width: 200px;
    }

    .aspMenu li ul a {
        padding: 10px;
        white-space: nowrap;
    }

        .aspMenu li ul a:hover {
            background-color: #3B82F6;
        }







.page-title h1 {
    font-size: 2.5rem;
    color: #1E3A8A;
    margin: 0;
    font-weight: bolder;
}

.page-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-block: 5%;
}


.search-bar-outer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar-inner-container input {
    font-size: 1.1rem;
}

.search-bar-inner-container {
    width: 55%;
    border-radius: 10%/100%;
    margin-inline: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    padding-inline: 5%;
    padding-block: 2%;
}

    .search-bar-inner-container * {
        color: black;
    }

input:focus {
    outline: none;
}

.job-name-search {
    height: 2rem;
    border: 0px;
    background-color: inherit;
    flex: 2;
}

.pipe {
    color: gray;
    margin-inline: 0.1rem;
    background-color: inherit;
}

.experience-search {
    height: 2rem;
    overflow: clip;
    border: 0px;
    scrollbar-width: 0px;
    flex: 1;
    background-color: inherit;
}

    .experience-search::-webkit-scrollbar {
        display: none;
    }

.job-location-search {
    height: 2rem;
    border: 0px;
    background-color: inherit;
    flex: 1;
}

.job-search-btn {
    background-color: #00AEEF;
    color: white;
    border-radius: 20px;
    height: 2rem;
    border: none;
    padding-inline: 3%;
}

.job-search-btn:hover {
    background-color: #0086C3;
}


.job-types-outer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-block: 5rem;
}

.job-types-inner-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.job-type {
    background-color: #FAF9F6;
    padding-inline:2%;
    padding-block:2%;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 15px;
    cursor: pointer;
}

.job-type:hover{
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.1);
}